VUE_APP_PATH="/"

VUE_APP_POD_NAMESPACE="local"

#vaults web-url
VUE_APP_REGISTRY_URL="https://dev.bcros.ca/dashboard"
VUE_APP_REGISTRY_HOME_URL="https://dev.bcregistry.gov.bc.ca/"
VUE_APP_AUTH_WEB_URL="https://dev.account.bcregistry.gov.bc.ca/"
VUE_APP_BUSINESSES_URL="https://dev.account.bcregistry.gov.bc.ca/"
VUE_APP_BCONLINE_URL="https://d1.bconline.gov.bc.ca/"
VUE_APP_BUSINESS_CREATE_URL="https://dev.create.business.bcregistry.gov.bc.ca"
VUE_APP_BUSINESS_EDIT_URL="https://dev.edit.business.bcregistry.gov.bc.ca"
VUE_APP_BUSINESS_FILINGS_URL="https://dev.business.bcregistry.gov.bc.ca/"
VUE_APP_DOCUMENTS_UI_URL="https://dev.documents.bcregistry.gov.bc.ca/"
VUE_APP_NOTICE_OF_WITHDRAWAL_FORM_URL="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/form_19_-_notice_of_withdrawal.pdf"

#vaults API
VUE_APP_AUTH_API_URL="https://auth-api-dev-142173140222.northamerica-northeast1.run.app"
VUE_APP_AUTH_API_VERSION="/api/v1"
VUE_APP_PAY_API_URL="https://pay-api-dev.apps.silver.devops.gov.bc.ca"
VUE_APP_PAY_API_VERSION="/api/v1"
VUE_APP_DOC_API_URL="https://bcregistry-dev.apigee.net/doc"
VUE_APP_DOC_API_VERSION="/api/v1"
VUE_APP_DOC_API_KEY=""
VUE_APP_LEGAL_API_URL="https://legal-api-dev.apps.silver.devops.gov.bc.ca"
VUE_APP_LEGAL_API_VERSION_2="/api/v2"
VUE_APP_BUSINESS_API_GW_URL="https://test.api.connect.gov.bc.ca/business-dev"
VUE_APP_BUSINESS_API_VERSION_2="/api/v2"
VUE_APP_BUSINESS_API_URL="https://business-api-dev-dy4loprnwa-nn.a.run.app"
VUE_APP_BUSINESS_API_KEY=""
VUE_APP_STATUS_API_URL="https://status-api-dev.apps.gold.devops.gov.bc.ca"
VUE_APP_STATUS_API_VERSION="/api/v1"

#vaults launchdarkly
# this is here to help CI pass and as this is already public it is OK to leave it here (dev value)
VUE_APP_LD_CLIENT_ID="642af8daefad6f134479c602"

#vaults keycloak
VUE_APP_KEYCLOAK_AUTH_URL="https://dev.loginproxy.gov.bc.ca/auth"
VUE_APP_KEYCLOAK_REALM="bcregistry"
VUE_APP_KEYCLOAK_CLIENTID="entity-web"

#vaults sentry
VUE_APP_SENTRY_DSN=
VUE_APP_SENTRY_TRACE_SAMPLE_RATE="1.0"

#google analytics
VUE_APP_GTAG_ID=""
VUE_APP_GTAG_DEBUG=""
VUE_APP_GTM_ID=""

#vaults hotjar
VUE_APP_HOTJAR_ID=
