@tailwind base;

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BCSans/BCSans-Regular.woff2') format('woff2'),
    /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-Regular.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/BCSans/BCSans-Italic.woff2') format('woff2'),
    /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-Italic.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/BCSans/BCSans-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/BCSans/BCSans-Bold.woff') format('woff');
  /* Optimized for very modern browsers */
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/BCSans/BCSans-BoldItalic.woff') format('woff');
  /* Optimized for very modern browsers */
}

html,
body {
  min-height: 100vh;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 960px) {
  html,
  body {
    // default font size (16px)
    font-size: 1rem;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply text-bcGovGray-900
  }

  h1,
  h2,
  h3 {
    @apply font-bold
  }

  h1,
  h2 {
    @apply leading-9
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-lg
  }

  h3 {
    @apply text-base
  }

  p {
    @apply font-normal;
  }

  // tables
  td,
  th {
    @apply text-gray-900 text-sm
  }
}
